{% extends "base_login_register.html" %}
{% load static %}
{% block title %} Restablecer Contraseña {% endblock %}

{% block content %}
<div class="login-userheading">
    <h3>Restablecer Contraseña</h3>
    <h4>¿Olvidaste tu contraseña? No te preocupes, ingresa tu correo electrónico y te enviaremos un enlace para
        restablecerla.</h4>
</div>

<form method="post">
    {% csrf_token %}
    <div class="form-login">
        <label>Correo Electrónico</label>
        <div class="form-addons">
            <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"
                placeholder="Ingrese su correo electrónico">
            <img src="{% static 'img/icons/mail.svg' %}" alt="img">
        </div>
        {% if form.email.errors %}
        <div class="text-danger small mt-1">
            {% for error in form.email.errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-login">
        <button type="submit" class="btn btn-login">Enviar solicitud</button>
    </div>
</form>

<div class="signinform text-center">
    <h4>¿Recordaste tu contraseña? <a href="{% url 'login' %}" class="hover-a">Iniciar Sesión</a></h4>
</div>
{% endblock %}