{% extends "base_login_register.html" %}
{% load static %}
{% block title %} Correo Enviado {% endblock %}

{% block content %}
<div class="login-userheading text-center">
    <h3>Correo Enviado</h3>
    <h4 class="mt-3">Le hemos enviado instrucciones por correo electrónico para configurar su contraseña.</h4>
</div>

<div class="login-userset">
    <p class="text-center">
        Si existe una cuenta con el correo electrónico que ingresó, debería recibir el mensaje en breve.
    </p>
    <p class="text-center mt-2">Si no recibe el correo, asegúrese de haber ingresado la dirección correcta y verifique
        su carpeta de correo no deseado.</p>
</div>

<div class="form-login mt-4">
    <a href="{% url 'login' %}" class="btn btn-login">Volver al Inicio de Sesión</a>
</div>
{% endblock %}