{% extends "base_login_register.html" %}
{% load static %}
{% block title %} Cambiar Contraseña {% endblock %}

{% block content %}
<div class="login-userheading">
  <h3>Cambiar Contraseña</h3>
  <h4>Por favor, ingrese su contraseña actual y la nueva contraseña que desea utilizar.</h4>
</div>

<form method="post">
  {% csrf_token %}

  {% if form.non_field_errors %}
  <div class="alert alert-danger alert-sm mb-3">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>
  {% endif %}

  <div class="form-login">
    <label>Contraseña Antigua</label>
    <div class="pass-group">
      <input type="password" class="pass-input" placeholder="Contraseña Antigua" name="old_password"
        id="id_old_password" required>
      <span class="fas toggle-password fa-eye-slash"></span>
    </div>
    {% if form.old_password.errors %}
    <div class="text-danger small mt-1">
      {% for error in form.old_password.errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="form-login">
    <label>Nueva Contraseña</label>
    <div class="pass-group">
      <input type="password" class="pass-input" placeholder="Nueva Contraseña" name="new_password1"
        id="id_new_password1" required>
      <span class="fas toggle-password fa-eye-slash"></span>
    </div>
    {% if form.new_password1.errors %}
    <div class="text-danger small mt-1">
      {% for error in form.new_password1.errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="form-login">
    <label>Confirmar Nueva Contraseña</label>
    <div class="pass-group">
      <input type="password" class="pass-input" placeholder="Confirmar Nueva Contraseña" name="new_password2"
        id="id_new_password2" required>
      <span class="fas toggle-password fa-eye-slash"></span>
    </div>
    {% if form.new_password2.errors %}
    <div class="text-danger small mt-1">
      {% for error in form.new_password2.errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="form-login">
    <button type="submit" class="btn btn-login">Cambiar Contraseña</button>
  </div>
</form>

<div class="signinform text-center">
  <h4><a href="/users/profile" class="hover-a">Volver al Perfil</a></h4>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).on('click', '.toggle-password', function () {
    $(this).toggleClass("fa-eye fa-eye-slash");
    var input = $(this).parent().find(".pass-input");
    if (input.attr("type") == "password") {
      input.attr("type", "text");
    } else {
      input.attr("type", "password");
    }
  });
</script>
{% endblock %}